body {
  background-image: 
    repeating-linear-gradient(
      45deg,
      black,
      black 10px,
      green 10px,
      green 20px /* determines size */
    );
}

article {
  font-family: sans-serif;
  color: white;
}

header {
  text-align: center;
  margin: 0;
}

header h1 {
  font-size: 75px;
  margin: 0;
}

header h3 {
  margin: 0;
}

header h5 {
  margin: 0;
}

.gallery {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.gallery div {
  margin-right: 15px;
  margin-bottom: 15px;
  border: 2px solid white;
  float: left;
  width: 300px;
}

.gallery img {
  width: 100%;

}

.caption {
  padding: 5px;
  text-align: center;
  /*opacity: 0.5;*/
}

footer {

}